<section id="contact">
    <div class="pad">
        <h1>Contact</h1>
        <div id="contact-form">
            <div id="pad">
                <form>
                    <input type="email" placeholder="E-mail" />
                    <textarea></textarea>
                    <button>Envoyer</button>
                </form>
            </div>
        </div>
    </div>

</section>
