<section id="cv">
    <div class="content">
        <h2>CV</h2>

        <h3>Expériences</h3>

        <div class="cv-item">
            <div class="date">
                SEPT. 2010<br />
                AUJOURD'HUI
            </div>
            <div class="cv-desc">
                <h3>Entreprise individuelle</h3>
                <h3 class="type">Développeur</h3>
                <div class="clr"></div>
                <p>Réponses à de multiples clients de tous types. Site vitrine, site e-commerce, application en ligne... sous divers plateformes, Wordpress, Prestashop, Symfony 2, sur-mesure...</p>
            </div>
        </div>


        <div class="cv-item">
            <div class="date">
                JANV. 2012<br />
                SEPT. 2013
            </div>
            <div class="cv-desc">
                <h3>CGStepInside</h3>
                <h3 class="type">Lead Developer</h3>
                <div class="clr"></div>
                <p>Lead Developer chez CGStepInside depuis le lancement du projet au sein d'une équipe de 3 développeurs.</p>
                <p>Projet sous Symfony 2 / BackboneJS.</p>
            </div>
        </div>

        <h3>Diplôme</h3>

        <div class="cv-item">
            <div class="date">
                SEPT. 2005<br />
                SEPT. 2010
            </div>
            <div class="cv-desc">
                <h3>Master II Conception Web</h3>
                <h3 class="type">ESTEI</h3>
                <div class="clr"></div>
                <p>Ce cursus de 5 ans m'a permis de découvrir l'ensemble des corps de métiers en relation avec le développement web. Les 2 dernières années étant spécialisées sur le développement.</p>
            </div>
        </div>

        <div class="cv-item">
            <div class="date">
                SEPT. 2002<br />
                JUIN. 2005
            </div>
            <div class="cv-desc">
                <h3>Bac STI Génie Civil</h3>
                <h3 class="type">Lycée Emile Combes</h3>
                <div class="clr"></div>
                <p>Obention du Bac Génie Civil.</p>
            </div>
        </div>
    </div>
    <div class="clr"></div>
</section>
