<section id="header-home">
    <div id="header-mask">
        <div id="header-home-background"></div>
        <div id="header-home-content">
            <h2 class="lato">THOMAS PINAUD</h2>
            <h1 class="lato">WEBDEVELOPER</h1>

            
        </div>
        <div class="clr"></div>
    </div>
    <div class="delayed-image-me" data-src="{{ app.request.basepath }}/public/img/me/me-{width}{pixel_ratio}.png" data-alt="Hey, that's me" data-width="156"></div>
</section>
