<section id="header-home">
    <div id="header-home-content">
        <h2 class="lato">THOMAS PINAUD</h2>
        <h1 class="lato">WEBDEVELOPER</h1>

        {#<img src="{{ app.request.basepath }}/public/img/me.png" width="156" height="156" alt="" />#}
        <div class="delayed-image-me" data-src="{{ app.request.basepath }}/public/img/me/me-{width}{pixel_ratio}.png" data-alt="Hey, that's me"></div>
    </div>
    <div class="clr"></div>
</section>
