{% extends 'layout.html.twig' %}

{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}

{% block main_container %}
    <section id="home">
        <div class="content" id="home-content">
            <hr id="hr-home" />
            <p class="social center">
                <span>
                    <a href="http://twitter.com/spopila" alt="My twitter link"><i class="fa fa-twitter fa-lg"></i></a>
                    <a href="#contact"><i class="fa fa-envelope fa-lg"></i></a>
                    <a href="http://github.com/spope"><i class="fa fa-github fa-lg"></i></a>
                </span>
            </p>
            <p>Passionné par le développement web, j'ai débuté en tant qu'indépendant dès l'obtention de mon diplôme en 2010.</p>

            <p>Dans un premier temps plus orienté backend avec php (prestashop, wordpress, symfony 2) j'ai été assez rapidement attiré par le dynamisme et l'évolution rapide des frameworks javascript, aussi bien client (AngularJS, BackboneJS) que serveur avec NodeJS (Express, Socket.io, Grunt...).</p>

        </div>
    </section>

    <section id="competences">
        <div class="content">
            <h2>COMPETENCES</h2>
            <div class="logo">
                <img src="{{ app.request.basepath }}/public/img/logo/php.png" alt="PHP" width="150" height="150" />
            </div>
            <p>Premier language utilisé (bon, après l'AS3), j'ai commencé en developpant "from scratch", puis au fûr et à mesure, en ajoutant un système de vue (Smarty), de Controller et de modèle, je me suis naturellement dirigé vers l'approche MVC. Le pas à franchir pour intégrer Symfony 2 était donc aisé. Mes 4 années d'éxpériences m'ont également permis d'utiliser d'autre frameworks plus spécifique comme Wordpress, Prestashop et d'autre plus... vintage, comme Spip.</p>

            <div class="clr"></div>

            <div class="logo-right">
                <img src="{{ app.request.basepath }}/public/img/logo/javascript.png" alt="PHP" width="150" height="150" />
            </div>
            <p class="p-left">Avec une évolution vers des sites de plus en plus applicatif, les frameworks frontend sont de plus en plus utilisés. Au cours de mes réalisations, j'ai débuté avec Backbone, qui à l'avantage d'aider à mettre en place une structure saine. Une fois les concepts bien compris, j'ai choisi d'utiliser AngularJS sur les projets suivants afin de gagner en rapidité<span class="right">.</span></p>
            

            <div class="clr"></div>

            <div class="logo">
                <img src="{{ app.request.basepath }}/public/img/logo/nodejs.png" alt="PHP" width="150" height="150" />
            </div>
            <p>D'abord utilisé par curiosité, j'ai eu recours à Node pour divers projets nécessitant des communications à double sens (tchat, Q&A). Node me sert principalement pour mon workflow, Grunt surtout. Il me permet de compiler mes fichiers less, minifier et concaténer mes fichiers javascript, et compiler d'éventuels templates (moustache...)</p>


        </div>
    </section>

    {% include 'cv.html.twig' %}

    {% include 'portfolio.html.twig' %}

    {% include 'contact.html.twig' %}

{% endblock %}
