<section id="portfolios">
    <div class="pad">
        <h1>Portfolio</h1>
        <div id="portfolio-content">

        <ul>
        {% for portfolio in portfolios %}
            <li class="portfolio">
                <h2>{{ portfolio['title']|e }}</h2>
                <div class="preview"><img src="{{ app.request.basepath }}/public/img/portfolio/{{ portfolio['img'] }}" alt="" width="230" /></div>
                <div class="description">
                    {{ portfolio['description'] }}
                </div>
            </li>
        {% endfor %}
        </ul>
        <div class="clr"></div>
        </div>
    </div>
</section>
