<section id="squares">
    <div id="squares-content">
        <div class="square square1">
            <div class="front">
                <div class="cover">
                    <h2 class="cover-title">php</h2>
                </div>
                <div class="content">
                    <ul>
                        <li><h3>Symfony 2</h3></li>
                        <li><h3>Silex</h3></li>
                        <li><h3>Prestashop</h3></li>
                        <li><h3>Wordpress</h3></li>
                    </ul>
                </div>
            </div>
            <div class="back">
                <h1>php</h1>
                <p>Adipisicing perferendis earum assumenda dolorum voluptatem. Dolore eum neque voluptas minima maiores architecto dignissimos vero quis deserunt. Totam placeat nostrum laboriosam reiciendis laborum cumque? Ad nihil ducimus quis dolores molestiae.</p>
                <p>Elit earum corporis ullam vitae repudiandae repellat nulla quis blanditiis voluptatibus perferendis. Harum voluptatem iste totam odio nulla, cum cum natus velit libero. Asperiores asperiores fugit porro perspiciatis hic, doloremque.</p>
                <p>Adipisicing dicta numquam perferendis necessitatibus odio numquam eum recusandae. Excepturi incidunt voluptatum quidem harum enim corrupti eligendi dolorum temporibus, rem ipsam! Dignissimos totam odio sunt officia repellendus aliquam officia. Quo!</p>
            </div>
        </div>
        <div class="square square2">
            <div class="front">
                <div class="cover">
                    <h2 class="cover-title">js</h2>
                </div>
                <div class="content">
                    <ul>
                        <li><h3>NodeJS</h3></li>
                        <li><h3>AngularJS</h3></li>
                        <li><h3>Backbone</h3></li>
                        <li><h3>Chrome Extension</h3></li>
                    </ul>
                </div>
            </div>
            <div class="back">
                <h1>js</h1>
                <p>Ipsum sit commodi eaque natus deserunt ipsum enim vel. Sed repellendus aut nemo incidunt modi iure inventore sunt unde! Consectetur quidem labore dolore voluptatibus aspernatur tempora laboriosam porro ipsa illo.</p>
                <p>Lorem quae similique veniam incidunt accusantium! Possimus voluptatibus consequuntur ipsum pariatur quo autem. Quaerat libero dignissimos dolor iure saepe dolore nesciunt provident magnam voluptas reprehenderit quisquam. Quae maxime sequi molestiae?</p>
                <p>Amet rerum minima assumenda minima ex tenetur quos ullam veritatis cupiditate ab? Dolorum amet hic itaque tenetur repellendus nemo quos. Labore temporibus blanditiis voluptate dolores ut commodi autem neque officiis.</p>
            </div>
        </div>
        <div class="clr"></div>
        <div class="square square3">
            <div class="front">
                <div class="cover">
                    <h2 class="cover-title">db</h2>
                </div>
                <div class="content">
                    <ul>
                        <li><h3>MySQL</h3></li>
                        <li><h3>MongoDB</h3></li>
                    </ul>
                </div>
            </div>
            <div class="back">
                <h1>db</h1>
                <p>Ipsum nam natus quidem voluptate corporis. Voluptatibus placeat ipsa nam deleniti voluptatibus. Hic quam facere et ipsam ut. Sed culpa voluptatibus voluptatum ullam aperiam, et molestias laudantium? Nisi quas ab?</p>
                <p>Elit deleniti culpa provident in maxime ea earum enim iure quaerat dolore. Architecto corrupti provident vero perferendis rerum delectus? Saepe animi est reprehenderit culpa tempora ab! Optio ullam et maxime.</p>
                <p>Elit doloribus provident ut excepturi magnam quidem cum saepe, ullam similique fuga. Voluptas consequatur eaque voluptas eligendi fuga eius, nostrum harum laudantium molestias maxime officiis minus minus labore libero incidunt.</p>
            </div>
        </div>
    </div>
    <div class="clr"></div>
</section>
