#contact-form{
    width:400px;
    height:300px;
    position:fixed;
    top:50%;
    left:50%;
    margin:-150px 0 0 -200px;
    background:@white;

    #pad{
        padding:20px;
    }

    input{
        width:354px;
        border:1px solid lightgray;
        &#input-name{
            border-bottom:none;
        }
        &.error{
            border-color:red;
        }
    }
    textarea{
        width:354px;
        border:1px solid lightgray;
        height:150px;
        resize:none;
        &.error{
            border-color:red;
        }
        border-top:none;
    }
    button{
        width:362px;
    }

    #thanks{
        h3{
            font-size:2em;
            text-align:center;
            margin-top:100px;
        }
    }
}
