#contact {
    background:@darkgray;
    margin-bottom:0;
    padding-bottom:100px;

    h2 {
        color:@beige;
        padding-top:50px;
    }
}

#contact-form{
    width:400px;
    margin:0 auto;
    background:#111111;
    .box-shadow(0 0 7px rgba(0, 0, 0, 0.4));


    #pad{
        padding:20px;
    }

    .div-form-contact{
        .box-shadow(0 0 7px rgba(0, 0, 0, 1));
    }

    #form-background{
        background:white;
    }

    input{
        width:356px;
        border:none;
        &#input-name{
            border-bottom:none;
        }
        &.error{
            background-color:#FED5D9;
        }
    }
    textarea{
        width:356px;
        border:none;
        height:150px;
        resize:none;
        &.error{
            background-color:#FED5D9;
        }
        border-top:none;
    }
    button{
        width:362px;
    }

    #thanks{
        background:@beige;
        h3{
            font-size:2em;
            text-align:center;
            
        }
    }
}
