#home {

    .box-shadow(0, -25px, 25px, rgba(0,0,0,0.3));

    #home-content {
        padding-top:30px;
    }

    #hr-home {
        margin:30px 40px 20px 40px;
    }

    .social {
        margin-top: -35px;
        span {
            padding:0 10px 0 10px;
            background: white;
        }
    }
}
