* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', arial, sans-serif;
  outline: none !important;
}
body {
  font-size: 12px;
  background-color: #202020;
  overflow-y: scroll;
  overflow-x: hidden;
  color: #404040;
  width: 100%;
}
ul {
  list-style: none;
}
:link,
:visited,
ins {
  color: inherit;
  text-decoration: none;
}
nav ul,
nav ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
kbd {
  font-size: 1em;
}
dl,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
p,
blockquote,
form,
fieldset,
input,
label {
  line-height: inherit;
}
abbr,
img,
object,
a img,
:link img,
:visited img,
a object,
:link object,
:visited object {
  border: 0;
}
address,
abbr {
  font-style: normal;
}
table {
  border-spacing: 0px;
  border-collapse: collapse;
}
label,
input,
button,
select,
textarea {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-decoration: none;
  line-height: normal;
  -webkit-appearance: none;
  border-radius: 0;
}
.clr {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
small {
  font-size: 0.8em;
}
.light {
  font-weight: 300;
}
.dots {
  background: transparent url("../img/dots.gif");
}
hr {
  margin: 0;
  padding: 0;
  display: block;
  border: none;
  height: 1px;
  background: #ffffff url("../img/dots.gif") top left repeat-x;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  display: block;
  font-weight: 300;
  border: solid 1px #bebebe;
  padding: 3px;
  font-size: 1.3em;
}
button {
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  padding: 7px;
  background: #202020;
  border: 0;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: #434343;
}
a,
button {
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s;
}
.pointer {
  cursor: pointer;
}
.hidden {
  display: none;
}
html,
body {
  width: 100%;
  height: 100%;
  min-width: 540px;
  min-height: 540px;
}
#header {
  height: 50px;
}
#main {
  width: 100%;
  height: 100%;
  min-width: 540px;
  min-height: 540px;
}
section {
  position: absolute;
  display: block;
  width: 100%;
  min-height: 100%;
}
section > .pad {
  padding: 20px;
}
section > .pad > h1 {
  font-size: 3em;
  font-weight: normal;
}
#squares {
  background: #202020;
  top: 50px;
  z-index: 2;
}
#portfolios {
  background: #111111;
  top: 100%;
  z-index: 2;
}
#contact {
  top: 200%;
  z-index: 1;
}
#footer {
  width: 100%;
  height: 100px;
  text-align: center;
}
#squares-content {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 0% 260px;
  -moz-perspective-origin: 0% 260px;
  perspective-origin: 0% 260px;
  width: 520px;
  min-height: 520px;
  top: 50%;
  left: 50%;
  margin: -330px 0 0 -260px;
  position: absolute;
  background: #202020;
}
.square {
  width: 250px;
  height: 250px;
  margin-top: 20px;
  position: absolute;
  z-index: 1;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: top 0.5s, left 0.5s;
  -moz-transition: top 0.5s, left 0.5s;
  -o-transition: top 0.5s, left 0.5s;
  transition: top 0.5s, left 0.5s;
}
.square:hover .cover {
  left: -242px;
  top: -2px;
  -webkit-transform: rotateZ(-3deg);
  -moz-transform: rotateZ(-3deg);
  -o-transform: rotateZ(-3deg);
  -ms-transform: rotateZ(-3deg);
  transform: rotateZ(-3deg);
}
.square .front,
.square .back {
  overflow: hidden;
  position: absolute;
  background: #f2eed3;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.5s, top 0.5s, left 0.5s, width 0.35s, height 0.35s;
  -moz-transition: -moz-transform 0.5s, top 0.5s, left 0.5s, width 0.35s, height 0.35s;
  -o-transition: -o-transform 0.5s, top 0.5s, left 0.5s, width 0.35s, height 0.35s;
  transition: -webkit-transform 0.5s,-moz-transform 0.5s,-o-transform 0.5s,transform 0.5s, top 0.5s, left 0.5s, width 0.35s, height 0.35s;
}
.square .front {
  -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
.square .back {
  width: 500px;
  height: 500px;
  padding: 10px;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.square .back h1 {
  font-size: 2.2em;
  margin-bottom: 10px;
}
.square .back p {
  margin: 5px 0 5px 0;
}
.square.clicked {
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  top: 0;
  left: 0;
}
.square.clicked .front {
  width: 520px;
  height: 520px;
  -webkit-transform: rotateY(-179.9deg);
  -moz-transform: rotateY(-179.9deg);
  -o-transform: rotateY(-179.9deg);
  -ms-transform: rotateY(-179.9deg);
  transform: rotateY(-179.9deg);
}
.square.clicked .back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.square .cover {
  width: 250px;
  height: 255px;
  position: relative;
  left: 0;
  top: -5px;
  z-index: 2;
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  -o-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  -webkit-transition: left 0.5s, -webkit-transform 0.5s, top 0.5s;
  -moz-transition: left 0.5s, -moz-transform 0.5s, top 0.5s;
  -o-transition: left 0.5s, -o-transform 0.5s, top 0.5s;
  transition: left 0.5s,-webkit-transform 0.5s,-moz-transform 0.5s,-o-transform 0.5s,transform 0.5s, top 0.5s;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
}
.square .cover h2.cover-title {
  position: absolute;
  bottom: 10px;
  right: 19px;
  font-size: 60px;
  color: #202020;
  font-weight: 300;
  line-height: 1;
  cursor: default;
}
.square .content {
  position: absolute;
  top: 0;
  z-index: 1;
  text-align: right;
  width: 100%;
}
.square .content ul li {
  display: block;
  padding: 12px 10px 15px 20px;
}
.square .content ul li h3 {
  font-size: 2.1em;
  font-weight: normal;
}
.square1 {
  top: 0;
  left: 0;
  -webkit-animation: positionF 0.5s;
  -moz-animation: positionF 0.5s;
  -o-animation: positionF 0.5s;
  animation: positionF 0.5s;
}
.square1 .cover {
  background-image: url('../img/square.png');
  background-position: 0px 0px;
  -webkit-animation: slideF 130s infinite;
  -moz-animation: slideF 130s infinite;
  -o-animation: slideF 130s infinite;
  animation: slideF 130s infinite;
}
.square2 {
  top: 0;
  left: 270px;
  -webkit-animation: positionS 0.5s;
  -moz-animation: positionS 0.5s;
  -o-animation: positionS 0.5s;
  animation: positionS 0.5s;
}
.square2 .cover {
  background-image: url('../img/square.png');
  background-position: -270px 0px;
  -webkit-animation: slideS 130s infinite;
  -moz-animation: slideS 130s infinite;
  -o-animation: slideS 130s infinite;
  animation: slideS 130s infinite;
}
.square3 {
  top: 270px;
  left: 135px;
  -webkit-animation: positionT 0.5s;
  -moz-animation: positionT 0.5s;
  -o-animation: positionT 0.5s;
  animation: positionT 0.5s;
}
.square3 .cover {
  background-image: url('../img/square.png');
  background-position: -80px -160px;
  -webkit-animation: slideT 130s infinite;
  -moz-animation: slideT 130s infinite;
  -o-animation: slideT 130s infinite;
  animation: slideT 130s infinite;
}
.square3 .content > ul {
  margin-top: 60px;
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes positionF{ from{top:-800px;left:-800px;}to{top:0px;left:0px}}
@-moz-keyframes positionF{ from{top:-800px;left:-800px;}to{top:0px;left:0px}}
@-o-keyframes positionF{ from{top:-800px;left:-800px;}to{top:0px;left:0px}}
@keyframes positionF{ from{top:-800px;left:-800px;}to{top:0px;left:0px};
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes positionS{ from{top:-800px;left:1070px}to{top:0px;left:270px}}
@-moz-keyframes positionS{ from{top:-800px;left:1070px}to{top:0px;left:270px}}
@-o-keyframes positionS{ from{top:-800px;left:1070px}to{top:0px;left:270px}}
@keyframes positionS{ from{top:-800px;left:1070px}to{top:0px;left:270px};
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes positionT{ from{top:1070px;}to{top:270px;}}
@-moz-keyframes positionT{ from{top:1070px;}to{top:270px;}}
@-o-keyframes positionT{ from{top:1070px;}to{top:270px;}}
@keyframes positionT{ from{top:1070px;}to{top:270px;};
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes slideF{ 0%, 100%{background-position:0px 0px;}25%{background-position:-1160px 0px;}50%{background-position:-1160px -520px;}75%{background-position:0px -520px;}}
@-moz-keyframes slideF{ 0%, 100%{background-position:0px 0px;}25%{background-position:-1160px 0px;}50%{background-position:-1160px -520px;}75%{background-position:0px -520px;}}
@-o-keyframes slideF{ 0%, 100%{background-position:0px 0px;}25%{background-position:-1160px 0px;}50%{background-position:-1160px -520px;}75%{background-position:0px -520px;}}
@keyframes slideF{ 0%, 100%{background-position:0px 0px;}25%{background-position:-1160px 0px;}50%{background-position:-1160px -520px;}75%{background-position:0px -520px;};
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes slideS{ 0%, 100%{background-position:-270px 0px;}25%{background-position:-1430px 0px;}50%{background-position:-1430px -520px;}75%{background-position:-270px -520px;}}
@-moz-keyframes slideS{ 0%, 100%{background-position:-270px 0px;}25%{background-position:-1430px 0px;}50%{background-position:-1430px -520px;}75%{background-position:-270px -520px;}}
@-o-keyframes slideS{ 0%, 100%{background-position:-270px 0px;}25%{background-position:-1430px 0px;}50%{background-position:-1430px -520px;}75%{background-position:-270px -520px;}}
@keyframes slideS{ 0%, 100%{background-position:-270px 0px;}25%{background-position:-1430px 0px;}50%{background-position:-1430px -520px;}75%{background-position:-270px -520px;};
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes slideT{ 0%, 100%{background-position:-135px -260px;}25%{background-position:-1295px -260px;}50%{background-position:-1295px -790px;}75%{background-position:-135px -790px;}}
@-moz-keyframes slideT{ 0%, 100%{background-position:-135px -260px;}25%{background-position:-1295px -260px;}50%{background-position:-1295px -790px;}75%{background-position:-135px -790px;}}
@-o-keyframes slideT{ 0%, 100%{background-position:-135px -260px;}25%{background-position:-1295px -260px;}50%{background-position:-1295px -790px;}75%{background-position:-135px -790px;}}
@keyframes slideT{ 0%, 100%{background-position:-135px -260px;}25%{background-position:-1295px -260px;}50%{background-position:-1295px -790px;}75%{background-position:-135px -790px;};
}
/*
@keyframes slide1{
    0%, 100%{
        background-position:0px 0px;
    }
    25%{
        background-position:-1160px 0px;
    }
    50%{
        background-position:-1160px -530px;
    }
    75%{
        background-position:0px -530px;
    }
}

@keyframes slide2{
    0%, 100%{
        background-position:-270px 0px;
    }
    25%{
        background-position:-1430px 0px;
    }
    50%{
        background-position:-1430px -740px;
    }
    75%{
        background-position:-270px -740px;
    }
}

@keyframes slide3{
    0%, 100%{
        background-position:-135px -270px;
    }
    25%{
        background-position:-1295px -160px;
    }
    50%{
        background-position:-1295px -900px;
    }
    75%{
        background-position:-130px -900px;
    }
}
*/
#portfolio-content {
  padding-bottom: 120px;
}
#portfolio-content ul {
  text-align: center;
  width: 100%;
  height: 100%;
}
#portfolio-content .portfolio {
  text-align: left;
  display: inline-block;
  width: 230px;
  vertical-align: top;
  margin: 20px 20px 0 0;
  background: #f2eed3;
  padding: 10px;
}
#portfolio-content .portfolio h2 {
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 10px;
}
#contact-form {
  width: 400px;
  /*height:300px;*/
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -200px;
  background: #111111;
  -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
}
#contact-form #pad {
  padding: 20px;
}
#contact-form .div-form-contact {
  -webkit-box-shadow: 0px 0px 7px #000000;
  -moz-box-shadow: 0px 0px 7px #000000;
  box-shadow: 0px 0px 7px #000000;
}
#contact-form #form-background {
  background: white;
}
#contact-form input {
  width: 356px;
  border: none;
}
#contact-form input#input-name {
  border-bottom: none;
}
#contact-form input.error {
  background-color: #FED5D9;
}
#contact-form textarea {
  width: 356px;
  border: none;
  height: 150px;
  resize: none;
  border-top: none;
}
#contact-form textarea.error {
  background-color: #FED5D9;
}
#contact-form button {
  width: 362px;
}
#contact-form #thanks h3 {
  font-size: 2em;
  text-align: center;
}
