* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', arial, sans-serif;
  outline: none !important;
}
body {
  font-size: 16px;
  font-weight: 400;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  color: #404040;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}
ul {
  list-style: none;
}
:link,
:visited,
ins {
  color: inherit;
  text-decoration: none;
}
nav ul,
nav ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  font-weight: 300;
}
pre,
code,
kbd {
  font-size: 1em;
}
dl,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
p,
blockquote,
form,
fieldset,
input,
label {
  line-height: inherit;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
abbr,
img,
object,
a img,
:link img,
:visited img,
a object,
:link object,
:visited object {
  border: 0;
}
address,
abbr {
  font-style: normal;
}
table {
  border-spacing: 0px;
  border-collapse: collapse;
}
label,
input,
button,
select,
textarea {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-decoration: none;
  line-height: normal;
  -webkit-appearance: none;
  border-radius: 0;
}
.clr {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
small {
  font-size: 0.8em;
}
.light {
  font-weight: 300;
}
.dots {
  background: transparent url("../img/dots.gif");
}
hr {
  margin: 0;
  padding: 0;
  display: block;
  border: none;
  height: 1px;
  background: #404040;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  display: block;
  font-weight: 300;
  border: solid 1px #bebebe;
  padding: 3px;
  font-size: 1.3em;
}
button {
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  padding: 7px;
  background: #202020;
  border: 0;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: #232323;
}
a,
button {
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s;
}
p {
  line-height: 26px;
  margin-bottom: 20px;
  text-align: justify;
}
.lato {
  font-family: 'Lato', arial, sans-serif;
}
.pointer {
  cursor: pointer;
}
.hidden {
  display: none;
}
.center {
  text-align: center;
}
html,
body {
  width: 100%;
  height: 100%;
  min-width: 540px;
  min-height: 540px;
}
.content {
  width: 760px;
  margin: 0 auto;
}
#main {
  width: 100%;
  height: 100%;
  min-width: 540px;
  min-height: 540px;
}
section {
  display: block;
  margin: 0 0 80px 0;
  width: 100%;
}
section h2 {
  text-align: center;
  margin-bottom: 50px;
}
#footer {
  width: 100%;
  height: 100px;
  text-align: center;
  background: #202020;
}
#header-home {
  background: url('../img/header-bg.png') no-repeat 50% 0 #202020;
  margin: 0;
}
#header-home-content {
  height: 550px;
  text-align: center;
  position: relative;
}
#header-home-content h1 {
  font-size: 75px;
  color: #fbf9f3;
  text-align: center;
  letter-spacing: 14px;
  margin: 0;
  line-height: 85px;
}
#header-home-content h2 {
  font-size: 20px;
  color: #fbf9f3;
  text-align: center;
  padding-top: 190px;
  letter-spacing: 14px;
  margin: 0;
  line-height: 30px;
}
#header-home-content img {
  position: absolute;
  left: 50%;
  margin-left: -78px;
  bottom: -30px;
  border: 3px solid #fbf9f3;
  -webkit-border-radius: 156px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 156px;
  -moz-background-clip: padding;
  border-radius: 156px;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}
#home {
  -webkit-box-shadow: 0px -25px 25px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px -25px 25px rgba(0, 0, 0, 0.3);
  box-shadow: 0px -25px 25px rgba(0, 0, 0, 0.3);
}
#home #home-content {
  padding-top: 30px;
}
#home #hr-home {
  margin: 30px 40px 20px 40px;
}
#home .social {
  margin-top: -35px;
}
#home .social span {
  padding: 0 10px 0 10px;
  background: white;
}
#home .p-left {
  float: left;
  width: 590px;
  direction: rtl;
}
#home .logo {
  float: left;
  margin: 0 20px 20px 0;
  height: 150px;
}
#home .logo-right {
  float: right;
  margin: 0 0 20px 20px;
  height: 150px;
}
#portfolios {
  /*background:@darkgray;*/
}
#portfolio-content {
  padding-top: 50px;
}
#portfolio-content .warn {
  margin-bottom: 40px;
}
#portfolio-content ul {
  text-align: center;
  width: 100%;
  height: 100%;
}
#portfolio-content .portfolio {
  display: inline-block;
  width: 370px;
  margin: 0 0 40px 0;
  vertical-align: top;
  -webkit-perspective: 900px;
  -moz-perspective: 900px;
  perspective: 900px;
}
#portfolio-content .portfolio .preview {
  height: 250px;
  overflow: hidden;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
}
#portfolio-content .portfolio .preview:hover {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
#portfolio-content .portfolio .preview-left {
  -webkit-transform: rotateY(25deg);
  -moz-transform: rotateY(25deg);
  -o-transform: rotateY(25deg);
  -ms-transform: rotateY(25deg);
  transform: rotateY(25deg);
}
#portfolio-content .portfolio .preview-right {
  -webkit-transform: rotateY(-25deg);
  -moz-transform: rotateY(-25deg);
  -o-transform: rotateY(-25deg);
  -ms-transform: rotateY(-25deg);
  transform: rotateY(-25deg);
}
#cv .content > h3 {
  color: #ff7300;
  margin-bottom: 20px;
}
.date {
  float: left;
  margin-right: 20px;
  padding-top: 5px;
  text-align: right;
  font-size: 0.8em;
  width: 100px;
}
.cv-desc {
  float: left;
  width: 640px;
  margin-bottom: 40px;
}
.cv-desc h3 {
  float: left;
  margin-bottom: 10px;
}
.cv-desc h3.type {
  font-style: italic;
  color: #959595;
}
.cv-desc h3.type::before {
  margin: 0 10px 0 10px;
  content: "-";
}
#contact {
  background: #202020;
  margin-bottom: 0;
  padding-bottom: 100px;
}
#contact h2 {
  color: #fbf9f3;
  padding-top: 50px;
}
#contact-form {
  width: 400px;
  margin: 0 auto;
  background: #111111;
  -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
}
#contact-form #pad {
  padding: 20px;
}
#contact-form .div-form-contact {
  -webkit-box-shadow: 0px 0px 7px #000000;
  -moz-box-shadow: 0px 0px 7px #000000;
  box-shadow: 0px 0px 7px #000000;
}
#contact-form #form-background {
  background: white;
}
#contact-form input {
  width: 356px;
  border: none;
}
#contact-form input#input-name {
  border-bottom: none;
}
#contact-form input.error {
  background-color: #FED5D9;
}
#contact-form textarea {
  width: 356px;
  border: none;
  height: 150px;
  resize: none;
  border-top: none;
}
#contact-form textarea.error {
  background-color: #FED5D9;
}
#contact-form button {
  width: 362px;
}
#contact-form #thanks {
  background: #fbf9f3;
}
#contact-form #thanks h3 {
  font-size: 2em;
  text-align: center;
}
